{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content1">
    <h1 style="text-align: center"> Enter URL to shorten below</h1>
    {% if shorties |length <1 %}
    <h4 style="text-align: center">There are no URLs to view. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Input URL</th>
            <th>shortened URL</th>
            <th>Actions</th>
        </tr>
        {% for shorty in shorties %}
        <tr>
            <td>{{ shorty.full_URL }}</td>
            <td>{{ shorty.short_URL }}</td>
            <td>
                <a href="/delete/{{shorty.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div="form">
        <form action='/' method="POST">
            <input type="text" name="content" id="content" />
            <input type="submit" value="Add URL" />
        </form>
    </div>
{% endblock %}
